API_PREFIX=api
API_VERSION=v1
PORT=3000

MONGO_USERNAME=admin
MONGO_PASSWORD=admin
MONGO_DATABASE=appointments_api
DATABASE_URL=mongodb://admin:admin@localhost:27017/appointments_api?authSource=admin

VIACEP_API=https://viacep.com.br/ws
WEATHER_API=http://api.weatherapi.com
WEATHER_API_KEY=
WEATHER_API_DAY=1

JWT_SECRET=seu-secret-para-access-token
